<% if(theme.gitalk.enable == true) { %>

    <div id='commentsbox'></div>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/gitalk/1.4.1/gitalk.min.css?v=<%=theme.version%>">
    <script type="text/javascript" src="//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js?v=<%=theme.version%>"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/gitalk/1.4.1/gitalk.min.js?v=<%=theme.version%>"></script>
    
    <script>var gitalk = new Gitalk({
        clientID: '<%=theme.gitalk.client_id%>',
        clientSecret: '<%=theme.gitalk.client_secret%>',
        repo: '<%=theme.gitalk.repo%>',
        owner: '<%=theme.gitalk.owner%>',
        admin: ['<%=theme.gitalk.admin%>'],
        id: md5(location.pathname),
        distractionFreeMode: false
      })
      gitalk.render('commentsbox')
      </script>
<% } %>